---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Valentin White" description="About Valentin Verin Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
			>
				<img
					width="1553"
					height="873"
					src="/assets/atWork.jpeg"
					alt="AI coding image"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						After two years of work-study program in computer development (CESI Lille / Bils Deroo 
						Holding), I am now evolving in the digital field by following a technological university
						 bachelor's degree in Multimedia and Internet professions.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						BUT MMI | IUT of Lens
					</p>
					<p>
						Developpeur Informatique | CESI Lille
					</p>
					<p>
						STI2D High School Diploma | Paul Duez Cambrai
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Hard-Skills</h2>
				<div class="content">
					<p>Git -&nbsp;(GitHub -&nbsp;Gitlab -&nbsp;Git Kraken)</p>
					<p>HTML</p>
					<p>CSS</p>
					<p>PHP(Laravel) -&nbsp;C#(Blazor)</p>
					<p>MYSQL -&nbsp;IBM DB2</p>
					<p>JS</p>
				</div>
				<h2 class="section-title">Soft-Skills</h2>
				<div class="content">
					<p>Communication</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
